.rodape {
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    font-family: var(--fonte);
    color: var(--branco);
    text-align: center;
    font-size: 10px;
}

@media screen and (min-width: 300px) and (max-width: 883px){
    .rodape {
        font-size: 6px;
        margin-top: 170px;
    }
}