.capa {
    width: 1500px;
    height: 347px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 300px) and (max-width: 883px) {
    .capa {
        width: 100%;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 810px) and (max-width: 1920px){
    .capa {
        width: 100%;
    }
}